@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
	margin: 0;
}

.clear {
	clear: both;
}

#appTitle  {
	text-align: left;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height:45px;
	display:table;
	z-index: 100;
	background: url('images/wood-strip.jpg');
	opacity: 0.9;
}

#current-user {
	font-family: "Bree Serif", serif;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	height: 45px;
	padding: 0 1%;
	font-size: 20px;
	width: 35%;
	color: whitesmoke;
	text-shadow: 1px 0px 5px #000,-1px 0px 5px #000,0px 1px 5px #000,0px -1px 5px #000;
}

#logout-button {
	display: table-cell;
	cursor: pointer;
	background: url('images/logout.png');
	background-size: 40px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
}

.content {
	top: 50px;
	position: relative;
}

#appTitle h2 {
	font-family: "Bree Serif", serif;
	display: table-cell;
	vertical-align: middle;
	height: 45px;
	padding: 0 1%;
	text-shadow: 0 0 10px #fff;
}

#deleteButton {
	display: inline;
}

#logout-wrapper,
#add-button-wrapper {
	position: relative;
	margin: 0px auto;
	margin-bottom:30px;
	margin-left:30px;
	margin-right:30px;
}

#task-list-wrapper {
	list-style-type: none;
	padding-left: 0;
	margin-top: 40px;
	margin-bottom:0; 

	color: #777;
	background: #f6f6f3;
	box-shadow: 0px 6px 20px hsla(0,0%,0%,.1);
	margin: 40px auto;
	position: relative;
	width: 50%;
	border: 2px solid #dfdfd3;

	background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,85%,45%,.1) 95%, hsla(180,85%,45%,.1) 100%);

    background-image: -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image: linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                           hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);

	background-position: 0px 40px;
	background-size: 40px 40px;
	padding: 0px 0px 0px 60px;
	background-clip: content-box;
}

#task-list-wrapper:before {
	background-image: url('images/bg-side-hole.png');
	position: absolute;
	content: '';
	background-size: 60px;
	background-position: 0 0;
	top: 0;
	bottom: 0;
	left:0;
	width:60px;
}

#task-list-wrapper:after {
	border-left: 2px solid hsla(0,95%,50%,.1);
	border-right: 2px solid hsla(0,95%,50%,.1);
	bottom: 0;
	content:'';
	left:60px;
	position: absolute;
	top:0;
	width: 3px;
}

#task-list-wrapper #task-list {
	counter-reset: li;
	padding-left: 0;
	margin-left: 0;
	margin-top: 40px;
	margin-bottom: 20px;
}

#task-list-wrapper #task-list > li {
	position: relative;
	margin: 0 0 0 4em;
	padding: 0px 8px;
	list-style: none;
}

#task-list-wrapper #task-list > li:before {
	content: counter(li) ".";
	counter-increment: li;
	position: absolute;
	left: -1.2em;
	width:1em;
	padding-top:0px;
	color: black;
	font: italic bold 36px/44px 'Poiret One', cursive;
	text-align: center;
}

.task-view .task-content {
	cursor: pointer;
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	font: italic bold 36px/44px 'Poiret One', cursive;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 80%;
	margin:0;
	display: inline-block;
}

.task-view {
	clear: both;
	margin-bottom: 10px; 
	position: relative;
	border: 1px solid transparent;
	margin-right: 30px;
	display: inline-block;
	width: 95%;
}

#task-list .task-view .edit {
	display: none;
}

#task-list .task-view.editing .edit {
	display: block;
	background: transparent;
	border: 0px;
	outline: 0;
	width: 85%;
	letter-spacing: 2px;
	font: italic bold 36px/44px 'Poiret One', cursive;;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	color:darkgrey;
	top: -1px;
	position: relative;
	float:left;
}

#task-list .task-view.editing .task-content {
	display: none;
}

#task-list .task-view.editing .task-delete,
#task-list .task-view.editing .task-finish {
	display: none;
}

#logout-wrapper {
	text-align: center;
}

.task-actions {
	position: absolute;
	right: 0px;
}

.task-delete {
	background: url('images/delete-icon.png') no-repeat;
}

.task-edit {
	background: url('images/edit-icon.png') no-repeat;
}

.task-finish {
	background: url('images/done-icon.png') no-repeat;
}

#task-add-button {
	background: none;
	width: 40px;
	height: 40px;
	border: none;
	padding: 0;
	position: relative;
	left: 10px;
}

#task-add-button:focus {
	outline: 0;
}

#task-add-button:hover {
	cursor: pointer;
}

#task-add-button em {
	background-image: url('images/add-task-icon.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

#task-add-content {
	background: transparent;
	border: 0px;
	outline: 0;
	border-bottom: dotted skyBlue;
	width: 85%;
	font: italic bold 36px/44px 'Poiret One', cursive;;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	height: 40px;
	position: relative;
	top: -10px;
}

.task-undone {
	background: url('images/undone-icon.png') no-repeat;
}

.task-undone,
.task-delete,
.task-edit,
.task-finish {
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	margin: 5px;
	cursor: pointer;
	display: inline-block;
	vertical-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

