@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: url('images/bg.png');
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-align:left;
	text-decoration: none;
	height: 500px;
}

#login {
	width: 300px;
	height: 400px;
	margin: 70px auto;
}



.login-form, .signup-form {
	width: 300px;
	margin: 0 auto;
	position: relative;

	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .login-header, .signup-form .signup-header {
	padding: 40px 30px 30px 30px;
}

.login-form .login-header h2, .signup-form .signup-header h2 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size:28px;
	line-height: 34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-top: 0px; 
	margin-bottom: 10px;
}

.login-form .login-header span, .signup-form .signup-header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.login-form .login-content, .signup-form .signup-content {
	padding: 0 30px 25px 30px;
}

#login-username, #login-password, #signup-username, #signup-password {
	width: 188px;
	padding: 15px 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size:14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;

	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

#login-username:hover, #login-password:hover, 
#signup-username:hover, #signup-password:hover {
	background: #dfe9ec;
	color: #414848;
}

#signup-username:focus, #signup-password:focus,
#login-username:focus, #login-password:focus {
	background: #dfe9ec;
	color: #414848;

	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

#signup-username, #signup-password,
#login-username, #login-password {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.signup-form .signup-footer,
.login-form .login-footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;

	text-align: center;


	background: #d4dedf;
	border-top: 1px solid #fff;

	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.signup-form .signup-footer .signup-submit,
.login-form .login-footer .login-submit {
	
	position: relative;

	padding: 11px 25px;

	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;

	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.signup-fotm .signup-footer .signup-submit:focus,
.login-form .login-footer .login-submit:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;

	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

.signup-form .signup-footer .signup-submit:hover,
.login-form .login-footer .login-submit:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);

	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.signup-form .signup-footer a,
.signup-form .signup-footer p,
.login-form .login-footer a {
	display: inline;
	margin: 20px 0 0 0;
	font-family: "Bree Serif";
	font-size: 15px;
	text-decoration: none;
	color: black;
}

.login-form .login-footer div,
.signup-form .signup-footer div {
	margin-top: 20px;
}

